Repository ianminaj/pytorch-lightning, changes with the owners that .github/CODEOWNERS names for each.
All owners: @williamfalcon, @borda, @tchaton, @SeanNaren, @carmocca, @awaelchli, @justusschock, @edenlightning, @SkafteNicki, @teddykoker, @ananyahjha93, @williamFalcon

initial changes
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/plugins/precision/deepspeed_precision.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/utilities/apply_func.py
Owners: @williamfalcon, @tchaton, @SeanNaren, @awaelchli, @justusschock, @borda, @carmocca

Update precision
  pytorch_lightning/plugins/training_type/deepspeed.py
Owners: @tchaton, @SeanNaren, @awaelchli, @justusschock

Expose plugin
  pytorch_lightning/plugins/__init__.py
  pytorch_lightning/plugins/precision/__init__.py
  pytorch_lightning/plugins/training_type/__init__.py
Owners: @tchaton, @SeanNaren, @awaelchli, @justusschock

Connect the plugin via the accelerator connector
  pytorch_lightning/accelerators/accelerator_connector.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/enums.py
Owners: @williamfalcon, @tchaton, @SeanNaren, @awaelchli, @justusschock, @borda, @carmocca

Fix import
  pytorch_lightning/plugins/precision/deepspeed_precision.py
Owners: @tchaton, @SeanNaren, @awaelchli, @justusschock

Fix ordering
  pytorch_lightning/trainer/trainer.py
  requirements/extra.txt
Owners: @williamfalcon, @tchaton, @borda, @SeanNaren, @carmocca, @awaelchli, @justusschock

Few fixes, api changes
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/accelerators/accelerator_connector.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/utilities/imports.py
Owners: @williamfalcon, @tchaton, @SeanNaren, @awaelchli, @justusschock, @borda, @carmocca

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
* @williamfalcon @borda @tchaton @SeanNaren @carmocca @awaelchli @justusschock

/.github/CODEOWNERS @williamfalcon
/README.md          @williamfalcon @edenlightning @borda
/setup.py           @williamfalcon @borda

# CI/CD and configs
/.github/ @borda @tchaton
/dockers/ @borda @tchaton
*.yml     @borda @tchaton

# Docs
/docs/                   @edenlightning @tchaton @borda @awaelchli
/.github/*.md            @edenlightning @williamfalcon @borda
/.github/ISSUE_TEMPLATE/ @edenlightning @borda @tchaton
/docs/source/conf.py     @borda @awaelchli

# Packages
/pytorch_lightning/accelerators         @williamfalcon @tchaton @SeanNaren @awaelchli @justusschock
/pytorch_lightning/callbacks            @williamfalcon @tchaton @carmocca @borda
/pytorch_lightning/cluster_environments @borda @tchaton @SeanNaren @carmocca
/pytorch_lightning/core                 @tchaton @SeanNaren @borda @carmocca @justusschock
/pytorch_lightning/distributed          @williamfalcon @tchaton @awaelchli
/pytorch_lightning/loggers              @tchaton @awaelchli @borda
/pytorch_lightning/overrides            @tchaton @SeanNaren @borda
/pytorch_lightning/plugins              @tchaton @SeanNaren @awaelchli @justusschock
/pytorch_lightning/profiler             @williamfalcon @tchaton @borda
/pytorch_lightning/trainer              @williamfalcon @borda @tchaton @SeanNaren @carmocca @awaelchli @justusschock
/pytorch_lightning/trainer/connectors   @tchaton @SeanNaren @carmocca @borda
/pytorch_lightning/tuner                @SkafteNicki @borda @awaelchli
/pytorch_lightning/utilities            @borda @tchaton @SeanNaren @carmocca

# Metrics
/pytorch_lightning/metrics/             @teddykoker @ananyahjha93 @justusschock
/tests/metrics/                         @teddykoker @ananyahjha93 @justusschock
/docs/source/metrics.rst                @teddykoker @ananyahjha93 @justusschock

# API
/pytorch_lightning/callbacks/base.py  @williamfalcon
/pytorch_lightning/core/datamodule.py @williamFalcon
/pytorch_lightning/trainer/trainer.py @williamfalcon @tchaton
/pytorch_lightning/core/hooks.py      @williamfalcon
/pytorch_lightning/core/lightning.py  @williamfalcon @tchaton

# Testing
/tests/base/boring_model.py @williamfalcon @tchaton @borda
